@model DefaultViewModel

@*@section Stylesheets {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/minified/HomeInformationImageText.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/minified/HomeInformationImageText.min.css" asp-append-version="true" />
    </environment>
}*@

@section Scripts {
    <environment names="Development">
        <script src="~/spine-content/js/HomeInformationImageText.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/spine-content/js/minified/HomeInformationImageText.min.js" asp-append-version="true"></script>
    </environment>
}

<section class="bn" id="bn">
    <div class="bn-image" id="cladsafe" data-parallax data-speed="0.15" data-direction="up" style="background-image:url('@Model.GetPageFileCompressedByCallName(Model.PageBundle, "Header")');"></div>
    <div class="bn-ol">
        <div class="container">
            <div class="row">
                <div class="bn-ct">
                    <h1 id="bnTitle">@Html.Raw(Model.GetPageResourceByCallName(Model.PageBundle, "Title"))</h1>

                    @if (Model.Breadcrumbs != null)
                    {
                        <ol itemscope itemtype="http://schema.org/BreadcrumbList" id="bnBreadcrumbs" class="bn-breadcrumbs">
                            @foreach (var Breadcrumb in Enumerable.Reverse(Model.Breadcrumbs.List))
                            {
                                <li itemprop="itemListElement" itemscope
                                    itemtype="http://schema.org/ListItem">
                                    <a itemscope itemtype="http://schema.org/Thing"
                                        itemprop="item" href="@(Breadcrumb["Url"])">
                                        <span itemprop="name">@(Breadcrumb["Title"])</span>
                                    </a>
                                    <meta itemprop="position" content="@(Breadcrumb["Position"])" />
                                </li>
                            }
                        </ol>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container f-df">
        <div class="ifmt-text">
            <div class="row">
                <div class="col-md-30 ifmt-left" id="ifmtIntro">
                    @{ var Quote = Model.GetPageResourceByCallName(Model.PageBundle, "Quote"); }
                    @if (Quote != "")
                    {
                        <div class="quote-highlight">
                            @Html.Raw(Quote)
                        </div>
                    }

                    @{ var _pageFile = Model.GetPageFileByCallName(Model.PageBundle, "ImageLeft"); }
                    @if (_pageFile != null)
                    {
                        @:<img src="@_pageFile.CompressedPath.Replace("~/", "/")" alt="@_pageFile.Alt" class="img-responsive" />
                    }
                </div>
                <div class="col-md-60 col-md-offset-10" id="ifmtText">
                    @Html.Raw(Model.GetPageResourceByCallName(Model.PageBundle, "Text"))
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ifmtImage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-50 ifmt-image">
                @{ _pageFile = Model.GetPageFileByCallName(Model.PageBundle, "ImageLeftBelow"); }
                @if (_pageFile != null)
                {
                    @:<img src="@_pageFile.CompressedPath.Replace("~/", "/")" alt="@_pageFile.Alt" class="img-responsive" />
                }
            </div>
            <div class="col-sm-50 ifmt-image">
                @{ _pageFile = Model.GetPageFileByCallName(Model.PageBundle, "ImageRightBelow"); }
                @if (_pageFile != null)
                {
                    @:<img src="@_pageFile.CompressedPath.Replace("~/", "/")" alt="@_pageFile.Alt" class="img-responsive" />
                }
            </div>
        </div>
    </div>
</section>